package views

import "github.com/conneroisu/conneroh.com/internal/data/master"

templ Home(
	fullPosts *[]master.FullPost,
	fullProjects *[]master.FullProject,
	fullTags *[]master.FullTag,
	fullPostsSlugMap map[string]master.FullPost,
	fullProjectsSlugMap map[string]master.FullProject,
	fullTagsSlugMap map[string]master.FullTag,
) {
	<div>hello home</div>
}
