package views

import "github.com/conneroisu/conneroh.com/internal/data/master"

templ Project(
	project *master.FullProject,
) {
	<div>hello Project()</div>
}

templ Projects(
	fullPosts *[]master.FullPost,
	fullProjects *[]master.FullProject,
	fullTags *[]master.FullTag,
	fullPostSlugMap *map[string]master.FullPost,
	fullProjectSlugMap *map[string]master.FullProject,
	fullTagSlugMap *map[string]master.FullTag,
) {
}
