package views

import "github.com/conneroisu/conneroh.com/cmd/conneroh/layouts"

templ Page(comp templ.Component) {
	@layouts.Layout("Page") {
		@comp
	}
}

templ Morpher(comp templ.Component) {
	<div id="bodiody">
		@comp
	</div>
}
