package components

import (
	"github.com/conneroisu/conneroh.com/internal/data/master"
	"github.com/conneroisu/conneroh.com/internal/tags"
)

templ TagSections(
	ts []master.Tag,
) {
	for key, tag := range tags.NestedSort(ts) {
		<p class="uk-text-meta">
			{ key }
		</p>
		for _, tag := range tag {
			@Tag(tag)
		}
	}
}

templ Tag(
	tag master.Tag,
) {
	@Icon(tag.Icon)
	<span class={ "uk-badge bg-lime-500 " }>
		{ tag.Name }
	</span>
}
