# Nix
.devenv
.dirhash
.direnv
.devenv*

# Git
.pre-commit-config.json
.pre-commit-config.yaml

# Node
node_modules
.env
# Editors
.vscode
.idea
tmp
*.wlf
*.log
.DS_Store
result
tigris.yaml
*.db-journal
*.db-shm
*.db-wal
*_templ.go
target
CLAUDE.md
