@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.htmx-indicator {
	opacity: 1;
}

@layer components {
	article .anchor.permalink {
		@apply text-gray-300 hover:text-white cursor-pointer hover:underline;
	}

	article h1 {
		@apply text-3xl font-bold text-white py-4;
	}

	article h2 {
		@apply text-2xl font-bold text-white py-4;
	}

	article h3 {
		@apply text-xl font-bold text-white py-4;
	}

	article h4 {
		@apply text-lg font-bold text-white py-4;
	}

	article h5 {
		@apply text-base font-bold text-white py-4;
	}

	article h6 {
		@apply text-sm font-bold text-white py-4;
	}

	article p {
		@apply text-gray-400 py-4;

		a {
			@apply text-blue-500 hover:underline;
		}
	}

	article ul {
		@apply text-gray-400 py-5;
	}

	/* twerge:begin */
.tw-56 { 
	@apply mt-4 max-h-[calc(100vh-180px)] overflow-y-auto; 
}
.tw-7 { 
	@apply hover:text-white focus:outline-none rounded-md text-gray-300 p-2 mr-2 hover:bg-gray-700 sm:hidden; 
}
.tw-11 { 
	@apply cursor-pointer text-gray-300 hover:text-white; 
}
.tw-44 { 
	@apply text-gray-300 hover:text-white focus:outline-none md:hidden; 
}
.tw-55 { 
	@apply top-3.5 text-gray-500 absolute left-3; 
}
.tw-76 { 
	@apply mt-4 pt-4 border-t border-gray-700; 
}
.tw-77 { 
	@apply mt-4 pt-4 border-t border-gray-700; 
}
.tw-175 { 
	@apply htmx-indicator top-2.5 text-blue-500 absolute right-3; 
}
.tw-245 { 
	@apply flex p-4 items-center rounded-lg bg-gray-800 hover:bg-gray-700 transition-colors; 
}
.tw-254 { 
	@apply h-1 bg-blue-500 mt-2 w-16; 
}
.tw-268 { 
	@apply text-blue-500 border-blue-500; 
}
.tw-40 { 
	@apply border-t border-gray-700 py-3 px-4; 
}
.tw-118 { 
	@apply hover:scale-105 duration-300 overflow-hidden hover:shadow-lg rounded-lg bg-gray-900 shadow-md transition-transform; 
}
.tw-225 { 
	@apply rounded-full bg-gray-700 h-8 justify-center items-center w-8 flex; 
}
.tw-32 { 
	@apply text-gray-400 text-center p-4; 
}
.tw-105 { 
	@apply bg-blue-600 rounded-full relative shadow-lg mx-auto; 
}
.tw-107 { 
	@apply -right-4 bg-purple-600 h-24 w-24 -bottom-4 absolute z-0 rounded-full; 
}
.tw-186 { 
	@apply bg-blue-600 text-white font-medium px-3 py-2 rounded-md; 
}
.tw-190 { 
	@apply text-gray-400 px-2 py-1; 
}
.tw-214 { 
	@apply bg-blue-500 rounded-tl-md text-xs py-1 text-white right-0 px-2 absolute bottom-0; 
}
.tw-45 { 
	@apply pt-16 inset-0 px-4 z-50 md:hidden pb-4 bg-gray-900 fixed; 
}
.tw-97 { 
	@apply border border-gray-600 font-medium hover:bg-gray-800 text-gray-300 px-6 rounded-md py-3 transition-colors; 
}
.tw-99 { 
	@apply relative lg:w-1/2; 
}
.tw-146 { 
	@apply justify-center mx-auto mb-4 h-12 flex bg-blue-900 items-center w-12 rounded-full; 
}
.tw-69 { 
	@apply block p-4 rounded-lg transition-colors hover:bg-gray-700; 
}
.tw-89 { 
	@apply lg:w-1/2 mb-10 lg:mb-0; 
}
.tw-171 { 
	@apply font-bold mb-6 text-white text-3xl; 
}
.tw-20 { 
	@apply pr-4 w-full focus:outline-none text-white rounded-md bg-gray-700 py-2 border focus:ring-2 focus:ring-blue-500 pl-10 border-gray-600; 
}
.tw-210 { 
	@apply text-sm text-blue-400 absolute left-0 bottom-5 font-medium hover:underline items-center justify-center flex right-0; 
}
.tw-222 { 
	@apply items-center justify-between mb-3 flex p-6; 
}
.tw-36 { 
	@apply py-3 px-4 block hover:bg-gray-700 transition-colors; 
}
.tw-4 { 
	@apply h-16 flex items-center justify-between; 
}
.tw-83 { 
	@apply hover:text-white font-medium text-base block py-2 hover:bg-gray-700 pl-3 pr-4 text-gray-300; 
}
.tw-92 { 
	@apply text-xl text-gray-300 mb-8 max-w-md; 
}
.tw-145 { 
	@apply text-center hover:shadow-md block rounded-lg p-6 bg-gray-900 transition-shadow; 
}
.tw-31 { 
	@apply text-gray-400 text-center p-4; 
}
.tw-38 { 
	@apply text-sm font-medium text-white; 
}
.tw-102 { 
	@apply h-64 bg-blue-600 rounded-full md:h-80 relative md:w-80 w-64 mx-auto shadow-lg; 
}
.tw-215 { 
	@apply bg-blue-500 rounded-tl-md text-xs py-1 text-white right-0 px-2 absolute bottom-0; 
}
.tw-267 { 
	@apply text-sm font-medium border-b-2 px-1 sm:text-base py-4; 
}
.tw-35 { 
	@apply py-3 px-4 block hover:bg-gray-700 transition-colors; 
}
.tw-203 { 
	@apply w-full h-48 object-cover; 
}
.tw-207 { 
	@apply mb-4 grid-cols-2 grid flex-wrap gap-2; 
}
.tw-49 { 
	@apply mb-4 text-xl font-bold text-white; 
}
.tw-95 { 
	@apply font-medium transition-opacity rounded-md bg-white py-3 px-6 hover:opacity-90 text-gray-900; 
}
.tw-103 { 
	@apply items-center justify-center inset-0 font-bold absolute flex text-white text-xl; 
}
.tw-131 { 
	@apply font-medium flex items-center text-blue-400 hover:underline text-sm; 
}
.tw-142 { 
	@apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8; 
}
.tw-158 { 
	@apply justify-center h-12 hover:bg-red-500 flex transition-colors rounded-full text-gray-300 items-center bg-gray-700 w-12; 
}
.tw-253 { 
	@apply font-semibold text-white text-2xl; 
}
.tw-59 { 
	@apply mb-2 animate-spin h-8 w-8 mx-auto; 
}
.tw-172 { 
	@apply font-bold mb-6 text-white text-3xl; 
}
.tw-174 { 
	@apply rounded-md py-2 border-gray-600 pl-10 bg-gray-700 focus:ring-blue-500 w-full pr-4 focus:ring-2 focus:outline-none border text-white; 
}
.tw-256 { 
	@apply leading-relaxed whitespace-pre-line text-gray-300; 
}
.tw-262 { 
	@apply inline-block p-4; 
}
.tw-51 { 
	@apply mb-4 relative; 
}
.tw-80 { 
	@apply sm:hidden pt-2 pb-4 space-y-1; 
}
.tw-29 { 
	@apply opacity-25; 
}
.tw-67 { 
	@apply shadow-sm rounded-lg bg-gray-800; 
}
.tw-202 { 
	@apply transform translate-y-0 opacity-100; 
}
.tw-248 { 
	@apply gap-2 mb-6 flex flex-wrap; 
}
.tw-5 { 
	@apply items-center flex; 
}
.tw-50 { 
	@apply mb-4 text-xl font-bold text-white; 
}
.tw-62 { 
	@apply mb-4 text-gray-600 h-16 w-16 mx-auto; 
}
.tw-101 { 
	@apply h-64 bg-blue-600 rounded-full md:h-80 relative md:w-80 w-64 mx-auto shadow-lg; 
}
.tw-110 { 
	@apply bg-gray-800 py-16; 
}
.tw-178 { 
	@apply w-5 animate-spin h-5; 
}
.tw-220 { 
	@apply absolute right-0 px-2 text-gray-200 rounded-tl-md bg-blue-500 py-1 text-xs bottom-0; 
}
.tw-74 { 
	@apply font-medium text-white text-base; 
}
.tw-155 { 
	@apply w-12 transition-colors flex hover:bg-gray-800 justify-center rounded-full h-12 items-center text-gray-300 bg-gray-700; 
}
.tw-229 { 
	@apply mb-4 text-4xl font-bold text-white; 
}
.tw-164 { 
	@apply text-sm font-medium text-gray-300 mb-1 block; 
}
.tw-181 { 
	@apply mt-8 space-x-2 flex justify-center items-center; 
}
.tw-234 { 
	@apply flex-wrap gap-2 mb-8 flex; 
}
.tw-25 { 
	@apply htmx-indicator p-4 text-gray-400 text-center; 
}
.tw-71 { 
	@apply flex-shrink-0 mr-4 w-10 flex h-10 justify-center bg-blue-900 text-blue-300 items-center rounded-full; 
}
.tw-9 { 
	@apply cursor-pointer pr-4 text-xl font-bold text-white; 
}
.tw-108 { 
	@apply -left-4 -top-4 h-16 w-16 bg-pink-600 rounded-full z-0 absolute; 
}
.tw-242 { 
	@apply mb-4 text-2xl font-bold text-white; 
}
.tw-162 { 
	@apply gap-6 grid grid-cols-1 md:grid-cols-2; 
}
.tw-209 { 
	@apply hover:underline bg-blue-900 flex-row w-full px-3 items-center flex h-8 hover:bg-blue-800 rounded-full text-sm font-medium text-blue-200 transition-colors py-1 justify-between; 
}
.tw-244 { 
	@apply gap-4 grid grid-cols-1 md:grid-cols-2; 
}
.tw-96 { 
	@apply font-medium transition-opacity rounded-md bg-white py-3 px-6 hover:opacity-90 text-gray-900; 
}
.tw-227 { 
	@apply mb-8; 
}
.tw-255 { 
	@apply max-w-none; 
}
.tw-66 { 
	@apply space-y-2; 
}
.tw-143 { 
	@apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8; 
}
.tw-167 { 
	@apply py-3 focus:ring-offset-2 focus:ring-blue-500 focus:outline-none font-medium text-white hover:bg-blue-700 bg-blue-600 px-6 rounded-md transition-colors w-full focus:ring-2; 
}
.tw-236 { 
	@apply md:h-96 object-cover shadow-md mb-8 w-full h-64 object-center rounded-lg; 
}
.tw-0 { 
	@apply bg-gray-900; 
}
.tw-121 { 
	@apply h-48 bg-gray-700 flex items-center justify-center overflow-hidden; 
}
.tw-133 { 
	@apply grid-cols-1 lg:grid-cols-2 gap-8 grid; 
}
.tw-240 { 
	@apply max-w-none my-6 text-gray-300 leading-relaxed; 
}
.tw-252 { 
	@apply pb-4 mb-4 border-b border-gray-700; 
}
.tw-39 { 
	@apply text-xs text-gray-400; 
}
.tw-127 { 
	@apply mb-4 flex flex-wrap gap-2; 
}
.tw-138 { 
	@apply px-2 bg-green-900 text-xs text-green-200 transition-colors hover:bg-green-800 rounded-md py-1; 
}
.tw-147 { 
	@apply justify-center mx-auto mb-4 h-12 flex bg-blue-900 items-center w-12 rounded-full; 
}
.tw-156 { 
	@apply w-12 transition-colors flex hover:bg-gray-800 justify-center rounded-full h-12 items-center text-gray-300 bg-gray-700; 
}
.tw-160 { 
	@apply shadow-md p-8 rounded-lg bg-gray-800; 
}
.tw-48 { 
	@apply h-6 w-6; 
}
.tw-10 { 
	@apply space-x-8 hidden sm:flex items-center ml-8; 
}
.tw-122 { 
	@apply h-48 bg-gray-700 flex items-center justify-center overflow-hidden; 
}
.tw-205 { 
	@apply hover:underline text-white font-semibold line-clamp-2 mb-3 text-xl; 
}
.tw-27 { 
	@apply mx-auto animate-spin h-5 w-5; 
}
.tw-61 { 
	@apply mb-4 text-gray-600 h-16 w-16 mx-auto; 
}
.tw-79 { 
	@apply text-center py-3 transition-colors block text-white rounded-lg font-medium w-full hover:bg-blue-600 bg-blue-500 px-4; 
}
.tw-87 { 
	@apply mx-auto container px-4; 
}
.tw-2 { 
	@apply container lg:px-8 mx-auto sm:px-6 px-4; 
}
.tw-213 { 
	@apply py-1 left-0 px-2 text-xs bg-red-500 text-gray-200 bottom-0 absolute rounded-tr-md; 
}
.tw-72 { 
	@apply flex-shrink-0 mr-4 w-10 flex h-10 justify-center bg-blue-900 text-blue-300 items-center rounded-full; 
}
.tw-114 { 
	@apply text-lg font-medium flex items-center text-blue-400 hover:underline; 
}
.tw-150 { 
	@apply text-gray-300 mb-8; 
}
.tw-216 { 
	@apply bg-gray-800 transition-all flex rounded-lg flex-col duration-300 p-6 overflow-hidden hover:-translate-y-3 h-full shadow-md transform hover:shadow-lg; 
}
.tw-64 { 
	@apply mt-2; 
}
.tw-93 { 
	@apply hover:underline; 
}
.tw-119 { 
	@apply hover:scale-105 duration-300 overflow-hidden hover:shadow-lg rounded-lg bg-gray-900 shadow-md transition-transform; 
}
.tw-134 { 
	@apply hover:shadow-lg duration-300 rounded-lg shadow-md overflow-hidden transition-transform bg-gray-800 hover:scale-105; 
}
.tw-168 { 
	@apply py-3 focus:ring-offset-2 focus:ring-blue-500 focus:outline-none font-medium text-white hover:bg-blue-700 bg-blue-600 px-6 rounded-md transition-colors w-full focus:ring-2; 
}
.tw-21 { 
	@apply top-2.5 text-gray-500 absolute left-3; 
}
.tw-237 { 
	@apply rounded-lg p-6 bg-gray-800 overflow-hidden shadow-lg mb-8; 
}
.tw-26 { 
	@apply htmx-indicator p-4 text-gray-400 text-center; 
}
.tw-109 { 
	@apply -left-4 -top-4 h-16 w-16 bg-pink-600 rounded-full z-0 absolute; 
}
.tw-18 { 
	@apply p-3 border-gray-700 border-b; 
}
.tw-193 { 
	@apply space-x-2 flex md:hidden; 
}
.tw-42 { 
	@apply text-sm text-blue-400 hover:underline block text-center; 
}
.tw-88 { 
	@apply lg:flex-row items-center justify-between flex flex-col; 
}
.tw-100 { 
	@apply relative lg:w-1/2; 
}
.tw-136 { 
	@apply h-48 bg-gray-700 overflow-hidden; 
}
.tw-17 { 
	@apply z-30 overflow-hidden bg-gray-800 mt-2 absolute rounded-lg right-0 top-full shadow-lg w-80; 
}
.tw-228 { 
	@apply mb-4 text-4xl font-bold text-white; 
}
.tw-113 { 
	@apply mb-4 text-3xl font-bold text-white; 
}
.tw-149 { 
	@apply text-center max-w-2xl mx-auto; 
}
.tw-195 { 
	@apply border-gray-700 rounded-md py-2 text-gray-300 transition-colors items-center px-3 hover:bg-gray-700 flex bg-gray-800 border; 
}
.tw-238 { 
	@apply rounded-lg p-6 bg-gray-800 overflow-hidden shadow-lg mb-8; 
}
.tw-239 { 
	@apply max-w-none my-6 text-gray-300 leading-relaxed; 
}
.tw-14 { 
	@apply rounded-md p-2 transition-colors hover:bg-gray-700 text-gray-300 hover:text-white; 
}
.tw-177 { 
	@apply w-5 animate-spin h-5; 
}
.tw-208 { 
	@apply hover:underline bg-blue-900 flex-row w-full px-3 items-center flex h-8 hover:bg-blue-800 rounded-full text-sm font-medium text-blue-200 transition-colors py-1 justify-between; 
}
.tw-246 { 
	@apply flex p-4 items-center rounded-lg bg-gray-800 hover:bg-gray-700 transition-colors; 
}
.tw-249 { 
	@apply text-sm inline-block text-blue-200 py-1 rounded-full font-medium transition-colors bg-blue-900 hover:bg-blue-800 px-3; 
}
.tw-115 { 
	@apply text-lg font-medium flex items-center text-blue-400 hover:underline; 
}
.tw-211 { 
	@apply text-sm text-blue-400 absolute left-0 bottom-5 font-medium hover:underline items-center justify-center flex right-0; 
}
.tw-219 { 
	@apply flex-grow flex-col flex p-6; 
}
.tw-224 { 
	@apply text-xl font-semibold text-white; 
}
.tw-33 { 
	@apply tracking-wider text-gray-400 px-4 text-xs uppercase pb-2 pt-3 font-semibold; 
}
.tw-63 { 
	@apply text-lg; 
}
.tw-187 { 
	@apply bg-blue-600 text-white font-medium px-3 py-2 rounded-md; 
}
.tw-189 { 
	@apply transition-colors px-3 py-2 border-gray-700 hover:bg-gray-700 border text-gray-300 rounded-md bg-gray-800; 
}
.tw-265 { 
	@apply space-x-8 flex; 
}
.tw-250 { 
	@apply text-sm inline-block text-blue-200 py-1 rounded-full font-medium transition-colors bg-blue-900 hover:bg-blue-800 px-3; 
}
.tw-37 { 
	@apply text-gray-500 mr-3; 
}
.tw-169 { 
	@apply container mx-auto py-8 px-4; 
}
.tw-196 { 
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6; 
}
.tw-3 { 
	@apply container lg:px-8 mx-auto sm:px-6 px-4; 
}
.tw-137 { 
	@apply px-2 bg-green-900 text-xs text-green-200 transition-colors hover:bg-green-800 rounded-md py-1; 
}
.tw-235 { 
	@apply md:h-96 object-cover shadow-md mb-8 w-full h-64 object-center rounded-lg; 
}
.tw-78 { 
	@apply text-center py-3 transition-colors block text-white rounded-lg font-medium w-full hover:bg-blue-600 bg-blue-500 px-4; 
}
.tw-28 { 
	@apply mx-auto animate-spin h-5 w-5; 
}
.tw-30 { 
	@apply opacity-75; 
}
.tw-34 { 
	@apply tracking-wider text-gray-400 px-4 text-xs uppercase pb-2 pt-3 font-semibold; 
}
.tw-43 { 
	@apply text-sm text-blue-400 hover:underline block text-center; 
}
.tw-123 { 
	@apply w-12 text-gray-500 h-12; 
}
.tw-166 { 
	@apply px-4 focus:ring-blue-500 bg-gray-700 text-white border w-full rounded-md focus:ring-2 py-2 border-gray-600 focus:outline-none; 
}
.tw-116 { 
	@apply md:grid-cols-2 lg:grid-cols-3 gap-8 grid grid-cols-1; 
}
.tw-132 { 
	@apply bg-gray-900 py-16; 
}
.tw-182 { 
	@apply mt-8 space-x-2 flex justify-center items-center; 
}
.tw-46 { 
	@apply pt-16 inset-0 px-4 z-50 md:hidden pb-4 bg-gray-900 fixed; 
}
.tw-13 { 
	@apply items-center hidden md:flex; 
}
.tw-151 { 
	@apply flex-wrap justify-center gap-4 mb-8 flex; 
}
.tw-152 { 
	@apply flex-wrap justify-center gap-4 mb-8 flex; 
}
.tw-16 { 
	@apply z-30 overflow-hidden bg-gray-800 mt-2 absolute rounded-lg right-0 top-full shadow-lg w-80; 
}
.tw-176 { 
	@apply htmx-indicator top-2.5 text-blue-500 absolute right-3; 
}
.tw-197 { 
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6; 
}
.tw-257 { 
	@apply text-sm text-gray-400 mt-6 flex items-center; 
}
.tw-15 { 
	@apply rounded-md p-2 transition-colors hover:bg-gray-700 text-gray-300 hover:text-white; 
}
.tw-251 { 
	@apply pb-4 mb-4 border-b border-gray-700; 
}
.tw-125 { 
	@apply text-white mb-2 text-xl font-bold; 
}
.tw-129 { 
	@apply hover:bg-blue-800 bg-blue-900 transition-colors font-medium inline-block py-1 rounded-full text-sm text-blue-200 px-3; 
}
.tw-73 { 
	@apply font-medium text-white text-base; 
}
.tw-81 { 
	@apply sm:hidden pt-2 pb-4 space-y-1; 
}
.tw-94 { 
	@apply flex flex-wrap gap-4; 
}
.tw-98 { 
	@apply border border-gray-600 font-medium hover:bg-gray-800 text-gray-300 px-6 rounded-md py-3 transition-colors; 
}
.tw-161 { 
	@apply space-y-6; 
}
.tw-179 { 
	@apply py-2 mx-auto px-4 container; 
}
.tw-47 { 
	@apply text-gray-300 hover:text-white absolute top-4 right-4; 
}
.tw-106 { 
	@apply -right-4 bg-purple-600 h-24 w-24 -bottom-4 absolute z-0 rounded-full; 
}
.tw-135 { 
	@apply hover:shadow-lg duration-300 rounded-lg shadow-md overflow-hidden transition-transform bg-gray-800 hover:scale-105; 
}
.tw-212 { 
	@apply py-1 left-0 px-2 text-xs bg-red-500 text-gray-200 bottom-0 absolute rounded-tr-md; 
}
.tw-23 { 
	@apply w-5 h-5; 
}
.tw-126 { 
	@apply mb-4 line-clamp-2 text-gray-300; 
}
.tw-57 { 
	@apply text-center text-gray-400 py-8; 
}
.tw-124 { 
	@apply p-6; 
}
.tw-148 { 
	@apply text-white font-medium; 
}
.tw-185 { 
	@apply hidden md:flex space-x-2; 
}
.tw-198 { 
	@apply p-6 transform rounded-lg bg-gray-800 hover:-translate-y-1 overflow-hidden hover:shadow-lg duration-300 shadow-md transition-all; 
}
.tw-70 { 
	@apply block p-4 rounded-lg transition-colors hover:bg-gray-700; 
}
.tw-128 { 
	@apply mb-4 flex flex-wrap gap-2; 
}
.tw-19 { 
	@apply pr-4 w-full focus:outline-none text-white rounded-md bg-gray-700 py-2 border focus:ring-2 focus:ring-blue-500 pl-10 border-gray-600; 
}
.tw-22 { 
	@apply top-2.5 text-gray-500 absolute left-3; 
}
.tw-223 { 
	@apply items-center justify-between mb-3 flex p-6; 
}
.tw-231 { 
	@apply flex items-center text-gray-400 mb-6; 
}
.tw-243 { 
	@apply mb-4 text-2xl font-bold text-white; 
}
.tw-54 { 
	@apply top-3.5 text-gray-500 absolute left-3; 
}
.tw-58 { 
	@apply text-center text-gray-400 py-8; 
}
.tw-65 { 
	@apply text-gray-400 uppercase tracking-wider mb-3 text-sm font-semibold; 
}
.tw-75 { 
	@apply text-gray-400 text-sm; 
}
.tw-104 { 
	@apply items-center justify-center inset-0 font-bold absolute flex text-white text-xl; 
}
.tw-159 { 
	@apply shadow-md p-8 rounded-lg bg-gray-800; 
}
.tw-170 { 
	@apply container mx-auto py-8 px-4; 
}
.tw-201 { 
	@apply translate-y-4 opacity-0 transform; 
}
.tw-165 { 
	@apply px-4 focus:ring-blue-500 bg-gray-700 text-white border w-full rounded-md focus:ring-2 py-2 border-gray-600 focus:outline-none; 
}
.tw-192 { 
	@apply space-x-2 flex md:hidden; 
}
.tw-233 { 
	@apply flex-wrap gap-2 mb-8 flex; 
}
.tw-24 { 
	@apply max-h-64 overflow-y-auto; 
}
.tw-163 { 
	@apply gap-6 grid grid-cols-1 md:grid-cols-2; 
}
.tw-188 { 
	@apply transition-colors px-3 py-2 border-gray-700 hover:bg-gray-700 border text-gray-300 rounded-md bg-gray-800; 
}
.tw-85 { 
	@apply py-20 bg-gradient-to-b from-gray-900 to-gray-800; 
}
.tw-117 { 
	@apply md:grid-cols-2 lg:grid-cols-3 gap-8 grid grid-cols-1; 
}
.tw-139 { 
	@apply ml-1 h-4 w-4; 
}
.tw-154 { 
	@apply justify-center transition-colors h-12 items-center rounded-full flex hover:bg-blue-400 text-gray-300 w-12 bg-gray-700; 
}
.tw-259 { 
	@apply text-white mb-4 text-2xl font-semibold; 
}
.tw-8 { 
	@apply cursor-pointer pr-4 text-xl font-bold text-white; 
}
.tw-260 { 
	@apply text-white mb-4 text-2xl font-semibold; 
}
.tw-53 { 
	@apply border-gray-600 pr-4 focus:outline-none focus:ring-blue-500 py-3 bg-gray-800 w-full focus:ring-2 text-white pl-10 border rounded-lg; 
}
.tw-91 { 
	@apply font-bold mb-4 text-white text-4xl lg:text-6xl md:text-5xl leading-tight; 
}
.tw-194 { 
	@apply border-gray-700 rounded-md py-2 text-gray-300 transition-colors items-center px-3 hover:bg-gray-700 flex bg-gray-800 border; 
}
.tw-269 { 
	@apply text-gray-400 hover:text-gray-300 border-transparent; 
}
.tw-60 { 
	@apply mb-2 animate-spin h-8 w-8 mx-auto; 
}
.tw-112 { 
	@apply justify-between items-center mb-12 pr-4 flex flex-col md:flex-row; 
}
.tw-153 { 
	@apply justify-center transition-colors h-12 items-center rounded-full flex hover:bg-blue-400 text-gray-300 w-12 bg-gray-700; 
}
.tw-111 { 
	@apply justify-between items-center mb-12 pr-4 flex flex-col md:flex-row; 
}
.tw-141 { 
	@apply w-full h-full flex items-center justify-center; 
}
.tw-184 { 
	@apply rounded-md text-gray-300 py-2 border border-gray-700 transition-colors bg-gray-800 hover:bg-gray-700 px-3 opacity-50 flex items-center; 
}
.tw-199 { 
	@apply p-6 transform rounded-lg bg-gray-800 hover:-translate-y-1 overflow-hidden hover:shadow-lg duration-300 shadow-md transition-all; 
}
.tw-221 { 
	@apply absolute right-0 px-2 text-gray-200 rounded-tl-md bg-blue-500 py-1 text-xs bottom-0; 
}
.tw-230 { 
	@apply flex items-center text-gray-400 mb-6; 
}
.tw-130 { 
	@apply hover:bg-blue-800 bg-blue-900 transition-colors font-medium inline-block py-1 rounded-full text-sm text-blue-200 px-3; 
}
.tw-157 { 
	@apply justify-center h-12 hover:bg-red-500 flex transition-colors rounded-full text-gray-300 items-center bg-gray-700 w-12; 
}
.tw-241 { 
	@apply pt-8 mt-12 border-t border-gray-700; 
}
.tw-82 { 
	@apply hover:text-white font-medium text-base block py-2 hover:bg-gray-700 pl-3 pr-4 text-gray-300; 
}
.tw-84 { 
	@apply py-20 bg-gradient-to-b from-gray-900 to-gray-800; 
}
.tw-191 { 
	@apply text-gray-400 px-2 py-1; 
}
.tw-204 { 
	@apply hover:underline text-white font-semibold line-clamp-2 mb-3 text-xl; 
}
.tw-218 { 
	@apply cursor-pointer h-full; 
}
.tw-258 { 
	@apply text-sm text-gray-400 mt-6 flex items-center; 
}
.tw-263 { 
	@apply max-w-2xl mx-auto text-xl text-gray-300; 
}
.tw-52 { 
	@apply border-gray-600 pr-4 focus:outline-none focus:ring-blue-500 py-3 bg-gray-800 w-full focus:ring-2 text-white pl-10 border rounded-lg; 
}
.tw-68 { 
	@apply shadow-sm rounded-lg bg-gray-800; 
}
.tw-200 { 
	@apply duration-200 transition ease-out; 
}
.tw-247 { 
	@apply text-gray-400 text-sm line-clamp-2; 
}
.tw-86 { 
	@apply mx-auto container px-4; 
}
.tw-90 { 
	@apply font-bold mb-4 text-white text-4xl lg:text-6xl md:text-5xl leading-tight; 
}
.tw-144 { 
	@apply text-center hover:shadow-md block rounded-lg p-6 bg-gray-900 transition-shadow; 
}
.tw-173 { 
	@apply rounded-md py-2 border-gray-600 pl-10 bg-gray-700 focus:ring-blue-500 w-full pr-4 focus:ring-2 focus:outline-none border text-white; 
}
.tw-180 { 
	@apply py-2 mx-auto px-4 container; 
}
.tw-264 { 
	@apply mb-6 border-b border-gray-700; 
}
.tw-266 { 
	@apply text-sm font-medium border-b-2 px-1 sm:text-base py-4; 
}
.tw-41 { 
	@apply border-t border-gray-700 py-3 px-4; 
}
.tw-183 { 
	@apply rounded-md text-gray-300 py-2 border border-gray-700 transition-colors bg-gray-800 hover:bg-gray-700 px-3 opacity-50 flex items-center; 
}
.tw-217 { 
	@apply bg-gray-800 transition-all flex rounded-lg flex-col duration-300 p-6 overflow-hidden hover:-translate-y-3 h-full shadow-md transform hover:shadow-lg; 
}
.tw-226 { 
	@apply rounded-full bg-gray-700 h-8 justify-center items-center w-8 flex; 
}
.tw-232 { 
	@apply mx-2; 
}
.tw-6 { 
	@apply hover:text-white focus:outline-none rounded-md text-gray-300 p-2 mr-2 hover:bg-gray-700 sm:hidden; 
}
.tw-1 { 
	@apply border-gray-800 border-b; 
}
.tw-12 { 
	@apply relative; 
}
.tw-120 { 
	@apply block cursor-pointer; 
}
.tw-140 { 
	@apply w-full h-full flex items-center justify-center; 
}
.tw-206 { 
	@apply mb-4 grid-cols-2 grid flex-wrap gap-2; 
}
.tw-261 { 
	@apply mb-12 text-center; 
}

/* twerge:end */
}

@theme inline {
	--color-border: var(--border);
	--color-input: var(--input);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(---accent-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-ring: var(--ring);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);

	--container-2xl: 1400px;
}

:root {
	--background: hsl(240 10% 3.9%);
	--foreground: hsl(0 0% 98%);
	--muted: hsl(240 3.7% 15.9%);
	--muted-foreground: hsl(240 5% 64.9%);
	--popover: hsl(240 10% 3.9%);
	--popover-foreground: hsl(0 0% 98%);
	--card: hsl(240 10% 3.9%);
	--card-foreground: hsl(0 0% 98%);
	--border: hsl(240 3.7% 15.9%);
	--input: hsl(240 3.7% 15.9%);
	--primary: hsl(0 0% 98%);
	--primary-foreground: hsl(240 5.9% 10%);
	--secondary: hsl(240 3.7% 15.9%);
	--secondary-foreground: hsl(0 0% 98%);
	--accent: hsl(240 3.7% 15.9%);
	--accent-foreground: hsl(0 0% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(0 0% 98%);
	--ring: hsl(240 4.9% 83.9%);
	--radius: 0.5rem;
}

.dark {
	--background: hsl(240 10% 3.9%);
	--foreground: hsl(0 0% 98%);
	--muted: hsl(240 3.7% 15.9%);
	--muted-foreground: hsl(240 5% 64.9%);
	--popover: hsl(240 10% 3.9%);
	--popover-foreground: hsl(0 0% 98%);
	--card: hsl(240 10% 3.9%);
	--card-foreground: hsl(0 0% 98%);
	--border: hsl(240 3.7% 15.9%);
	--input: hsl(240 3.7% 15.9%);
	--primary: hsl(0 0% 98%);
	--primary-foreground: hsl(240 5.9% 10%);
	--secondary: hsl(240 3.7% 15.9%);
	--secondary-foreground: hsl(0 0% 98%);
	--accent: hsl(240 3.7% 15.9%);
	--accent-foreground: hsl(0 0% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(0 0% 98%);
	--ring: hsl(240 4.9% 83.9%);
	--radius: 0.5rem;
}
