@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.htmx-indicator {
  opacity: 1;
}

@layer components {
  article .anchor.permalink {
    @apply text-gray-300 hover:text-white cursor-pointer hover:underline;
  }

  article h1 {
    @apply text-3xl font-bold text-white py-4;
  }

  article h2 {
    @apply text-2xl font-bold text-white py-4;
  }

  article h3 {
    @apply text-xl font-bold text-white py-4;
  }

  article h4 {
    @apply text-lg font-bold text-white py-4;
  }

  article h5 {
    @apply text-base font-bold text-white py-4;
  }

  article h6 {
    @apply text-sm font-bold text-white py-4;
  }

  article p {
    @apply text-gray-400 py-4;
  }

  article ul {
    @apply text-gray-400 py-5;
  }

  /* twerge:begin */
.tw-144 { 
	@apply font-bold text-white mb-4 text-3xl; 
}
.tw-146 { 
	@apply text-gray-300 mb-8; 
}
.tw-190 { 
	@apply text-white text-xs px-2 py-1 rounded-tl-md absolute right-0 bg-blue-500 bottom-0; 
}
.tw-217 { 
	@apply py-8 max-w-4xl container mx-auto px-4; 
}
.tw-73 { 
	@apply hover:bg-blue-600 transition-colors block w-full text-center bg-blue-500 text-white rounded-lg py-3 px-4 font-medium; 
}
.tw-118 { 
	@apply line-clamp-2 text-gray-300 mb-4; 
}
.tw-13 { 
	@apply relative; 
}
.tw-174 { 
	@apply shadow-md overflow-hidden transition-all p-6 rounded-lg hover:shadow-lg duration-300 hover:-translate-y-1 transform bg-gray-800; 
}
.tw-19 { 
	@apply border-b p-3 border-gray-700; 
}
.tw-222 { 
	@apply pb-4 mb-4 border-b border-gray-700; 
}
.tw-65 { 
	@apply flex-shrink-0 bg-blue-900 justify-center w-10 flex rounded-full items-center text-blue-300 mr-4 h-10; 
}
.tw-90 { 
	@apply font-medium border-gray-600 hover:bg-gray-800 rounded-md text-gray-300 px-6 border py-3 transition-colors; 
}
.tw-2 { 
	@apply mx-auto sm:px-6 lg:px-8 container px-4; 
}
.tw-216 { 
	@apply py-8 max-w-4xl container mx-auto px-4; 
}
.tw-148 { 
	@apply gap-4 mb-8 flex flex-wrap justify-center; 
}
.tw-160 { 
	@apply focus:ring-blue-500 border w-full px-4 py-2 border-gray-600 text-white bg-gray-700 focus:outline-none rounded-md focus:ring-2; 
}
.tw-203 { 
	@apply items-center justify-center rounded-full flex h-8 bg-gray-700 w-8; 
}
.tw-210 { 
	@apply mb-8 flex flex-wrap gap-2; 
}
.tw-30 { 
	@apply text-xs font-semibold uppercase pt-3 pb-2 text-gray-400 tracking-wider px-4; 
}
.tw-43 { 
	@apply inset-0 z-50 pb-4 pt-16 bg-gray-900 px-4 md:hidden fixed; 
}
.tw-97 { 
	@apply relative mx-auto rounded-full bg-blue-600 shadow-lg; 
}
.tw-137 { 
	@apply block p-6 hover:shadow-md transition-shadow rounded-lg text-center bg-gray-900; 
}
.tw-189 { 
	@apply bg-red-500 text-gray-200 bottom-0 text-xs px-2 py-1 rounded-tr-md absolute left-0; 
}
.tw-87 { 
	@apply rounded-md font-medium px-6 bg-white hover:opacity-90 transition-opacity py-3 text-gray-900; 
}
.tw-214 { 
	@apply my-6 max-w-none text-gray-300 leading-relaxed; 
}
.tw-70 { 
	@apply border-t border-gray-700 mt-4 pt-4; 
}
.tw-8 { 
	@apply hover:bg-gray-700 text-gray-300 hover:text-white focus:outline-none rounded-md mr-2 sm:hidden p-2; 
}
.tw-135 { 
	@apply h-4 w-4 ml-1; 
}
.tw-141 { 
	@apply font-medium text-white; 
}
.tw-98 { 
	@apply w-24 z-0 absolute -bottom-4 -right-4 h-24 rounded-full bg-purple-600; 
}
.tw-105 { 
	@apply md:mb-0 text-3xl font-bold text-white mb-4; 
}
.tw-226 { 
	@apply max-w-none; 
}
.tw-102 { 
	@apply py-16 bg-gray-800; 
}
.tw-130 { 
	@apply hover:scale-105 rounded-lg overflow-hidden shadow-md transition-transform duration-300 hover:shadow-lg bg-gray-800; 
}
.tw-134 { 
	@apply hover:bg-green-800 py-1 transition-colors px-2 text-green-200 bg-green-900 text-xs rounded-md; 
}
.tw-196 { 
	@apply flex-grow flex p-6 flex-col; 
}
.tw-242 { 
	@apply text-blue-500 border-blue-500; 
}
.tw-67 { 
	@apply font-medium text-white text-base; 
}
.tw-157 { 
	@apply space-y-6; 
}
.tw-172 { 
	@apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 grid; 
}
.tw-198 { 
	@apply rounded-tl-md bottom-0 right-0 bg-blue-500 text-gray-200 px-2 py-1 absolute text-xs; 
}
.tw-139 { 
	@apply flex w-12 h-12 rounded-full justify-center bg-blue-900 mx-auto mb-4 items-center; 
}
.tw-176 { 
	@apply opacity-0 transform translate-y-4; 
}
.tw-18 { 
	@apply absolute w-80 mt-2 shadow-lg z-30 right-0 overflow-hidden top-full bg-gray-800 rounded-lg; 
}
.tw-182 { 
	@apply mb-4 grid-cols-2 grid flex-wrap gap-2; 
}
.tw-224 { 
	@apply font-semibold text-white text-2xl; 
}
.tw-246 { 
	@apply border-b-2 font-medium hover:text-gray-300 py-4 border-transparent text-gray-400 px-1 text-sm sm:text-base; 
}
.tw-131 { 
	@apply h-48 bg-gray-700 overflow-hidden; 
}
.tw-15 { 
	@apply rounded-md text-gray-300 hover:text-white hover:bg-gray-700 transition-colors p-2; 
}
.tw-179 { 
	@apply object-center w-full h-48 object-cover; 
}
.tw-24 { 
	@apply h-5 w-5; 
}
.tw-245 { 
	@apply text-gray-400 hover:text-gray-300 border-transparent; 
}
.tw-52 { 
	@apply overflow-y-auto mt-4 max-h-[calc(100vh-180px)]; 
}
.tw-63 { 
	@apply bg-gray-800 rounded-lg shadow-sm; 
}
.tw-109 { 
	@apply overflow-hidden transition-transform bg-gray-900 rounded-lg duration-300 hover:scale-105 shadow-md hover:shadow-lg; 
}
.tw-117 { 
	@apply font-bold text-white mb-2 text-xl; 
}
.tw-159 { 
	@apply block text-sm font-medium text-gray-300 mb-1; 
}
.tw-78 { 
	@apply container px-4 mx-auto; 
}
.tw-4 { 
	@apply justify-between h-16 flex items-center; 
}
.tw-50 { 
	@apply focus:ring-2 border border-gray-600 bg-gray-800 text-white pl-10 focus:ring-blue-500 py-3 w-full pr-4 rounded-lg focus:outline-none; 
}
.tw-89 { 
	@apply font-medium border-gray-600 hover:bg-gray-800 rounded-md text-gray-300 px-6 border py-3 transition-colors; 
}
.tw-248 { 
	@apply py-4 border-b-2 px-1 font-medium text-sm sm:text-base; 
}
.tw-25 { 
	@apply max-h-64 overflow-y-auto; 
}
.tw-26 { 
	@apply p-4 text-center text-gray-400; 
}
.tw-7 { 
	@apply hover:bg-gray-700 text-gray-300 hover:text-white focus:outline-none rounded-md mr-2 sm:hidden p-2; 
}
.tw-71 { 
	@apply border-t border-gray-700 mt-4 pt-4; 
}
.tw-207 { 
	@apply text-4xl font-bold text-white mb-4; 
}
.tw-213 { 
	@apply bg-gray-800 rounded-lg shadow-lg p-6 mb-8 overflow-hidden; 
}
.tw-45 { 
	@apply text-gray-300 hover:text-white absolute top-4 right-4; 
}
.tw-46 { 
	@apply h-6 w-6; 
}
.tw-51 { 
	@apply absolute left-3 top-3.5 text-gray-500; 
}
.tw-145 { 
	@apply font-bold text-white mb-4 text-3xl; 
}
.tw-150 { 
	@apply bg-gray-700 flex items-center justify-center text-gray-300 rounded-full transition-colors hover:bg-blue-400 w-12 h-12; 
}
.tw-247 { 
	@apply border-b-2 font-medium hover:text-gray-300 py-4 border-transparent text-gray-400 px-1 text-sm sm:text-base; 
}
.tw-31 { 
	@apply text-xs font-semibold uppercase pt-3 pb-2 text-gray-400 tracking-wider px-4; 
}
.tw-132 { 
	@apply w-full h-full flex items-center justify-center; 
}
.tw-152 { 
	@apply flex justify-center text-gray-300 transition-colors items-center hover:bg-gray-800 w-12 h-12 rounded-full bg-gray-700; 
}
.tw-6 { 
	@apply flex items-center; 
}
.tw-119 { 
	@apply line-clamp-2 text-gray-300 mb-4; 
}
.tw-17 { 
	@apply absolute w-80 mt-2 shadow-lg z-30 right-0 overflow-hidden top-full bg-gray-800 rounded-lg; 
}
.tw-23 { 
	@apply absolute left-3 top-2.5 text-gray-500; 
}
.tw-166 { 
	@apply mb-6 text-white text-3xl font-bold; 
}
.tw-187 { 
	@apply bottom-5 left-0 right-0 hover:underline text-sm font-medium items-center absolute justify-center text-blue-400 flex; 
}
.tw-33 { 
	@apply mr-3 text-gray-500; 
}
.tw-77 { 
	@apply py-20 bg-gradient-to-b from-gray-900 to-gray-800; 
}
.tw-129 { 
	@apply hover:scale-105 rounded-lg overflow-hidden shadow-md transition-transform duration-300 hover:shadow-lg bg-gray-800; 
}
.tw-209 { 
	@apply mx-2; 
}
.tw-225 { 
	@apply w-16 h-1 bg-blue-500 mt-2; 
}
.tw-228 { 
	@apply mt-6 flex items-center text-sm text-gray-400; 
}
.tw-32 { 
	@apply block px-4 py-3 hover:bg-gray-700 transition-colors; 
}
.tw-76 { 
	@apply font-medium hover:text-white hover:bg-gray-700 block pl-3 pr-4 text-gray-300 py-2 text-base; 
}
.tw-197 { 
	@apply flex-grow flex p-6 flex-col; 
}
.tw-221 { 
	@apply pb-4 mb-4 border-b border-gray-700; 
}
.tw-237 { 
	@apply mb-6 border-b border-gray-700; 
}
.tw-243 { 
	@apply text-blue-500 border-blue-500; 
}
.tw-37 { 
	@apply py-3 border-t border-gray-700 px-4; 
}
.tw-181 { 
	@apply hover:underline line-clamp-2 text-xl font-semibold text-white mb-3; 
}
.tw-47 { 
	@apply text-xl font-bold text-white mb-4; 
}
.tw-64 { 
	@apply block p-4 hover:bg-gray-700 rounded-lg transition-colors; 
}
.tw-138 { 
	@apply block p-6 hover:shadow-md transition-shadow rounded-lg text-center bg-gray-900; 
}
.tw-212 { 
	@apply bg-gray-800 rounded-lg shadow-lg p-6 mb-8 overflow-hidden; 
}
.tw-251 { 
	@apply h-12 w-12 mx-auto mb-4; 
}
.tw-68 { 
	@apply font-medium text-white text-base; 
}
.tw-1 { 
	@apply border-b border-gray-800; 
}
.tw-124 { 
	@apply flex items-center text-blue-400 hover:underline text-sm font-medium; 
}
.tw-164 { 
	@apply mx-auto py-8 container px-4; 
}
.tw-167 { 
	@apply mb-6 text-white text-3xl font-bold; 
}
.tw-200 { 
	@apply flex items-center justify-between mb-3; 
}
.tw-104 { 
	@apply mb-12 pr-4 flex flex-col md:flex-row justify-between items-center; 
}
.tw-112 { 
	@apply cursor-pointer block; 
}
.tw-154 { 
	@apply rounded-full text-gray-300 bg-gray-700 items-center justify-center flex transition-colors hover:bg-red-500 w-12 h-12; 
}
.tw-218 { 
	@apply flex flex-wrap gap-2 mb-6; 
}
.tw-60 { 
	@apply text-gray-400 uppercase tracking-wider mb-3 text-sm font-semibold; 
}
.tw-81 { 
	@apply lg:w-1/2 mb-10 lg:mb-0; 
}
.tw-108 { 
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8; 
}
.tw-11 { 
	@apply hidden sm:flex items-center ml-8 space-x-8; 
}
.tw-116 { 
	@apply font-bold text-white mb-2 text-xl; 
}
.tw-120 { 
	@apply mb-4 flex flex-wrap gap-2; 
}
.tw-92 { 
	@apply w-64 shadow-lg mx-auto md:w-80 md:h-80 h-64 bg-blue-600 relative rounded-full; 
}
.tw-161 { 
	@apply focus:ring-blue-500 border w-full px-4 py-2 border-gray-600 text-white bg-gray-700 focus:outline-none rounded-md focus:ring-2; 
}
.tw-206 { 
	@apply mb-8; 
}
.tw-28 { 
	@apply opacity-25; 
}
.tw-49 { 
	@apply focus:ring-2 border border-gray-600 bg-gray-800 text-white pl-10 focus:ring-blue-500 py-3 w-full pr-4 rounded-lg focus:outline-none; 
}
.tw-56 { 
	@apply mx-auto mb-4 text-gray-600 h-16 w-16; 
}
.tw-79 { 
	@apply flex-col lg:flex-row items-center justify-between flex; 
}
.tw-94 { 
	@apply text-xl absolute flex text-white items-center justify-center font-bold inset-0; 
}
.tw-103 { 
	@apply mb-12 pr-4 flex flex-col md:flex-row justify-between items-center; 
}
.tw-133 { 
	@apply hover:bg-green-800 py-1 transition-colors px-2 text-green-200 bg-green-900 text-xs rounded-md; 
}
.tw-168 { 
	@apply htmx-indicator top-2.5 text-blue-500 absolute right-3; 
}
.tw-171 { 
	@apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 grid; 
}
.tw-86 { 
	@apply flex flex-wrap gap-4; 
}
.tw-55 { 
	@apply h-8 w-8 mx-auto mb-2 animate-spin; 
}
.tw-62 { 
	@apply space-y-2; 
}
.tw-69 { 
	@apply text-sm text-gray-400; 
}
.tw-125 { 
	@apply flex items-center text-blue-400 hover:underline text-sm font-medium; 
}
.tw-235 { 
	@apply text-gray-300 max-w-2xl mx-auto text-xl; 
}
.tw-158 { 
	@apply grid grid-cols-1 md:grid-cols-2 gap-6; 
}
.tw-229 { 
	@apply mb-4 text-2xl font-semibold text-white; 
}
.tw-199 { 
	@apply rounded-tl-md bottom-0 right-0 bg-blue-500 text-gray-200 px-2 py-1 absolute text-xs; 
}
.tw-250 { 
	@apply text-center py-12 text-gray-400; 
}
.tw-140 { 
	@apply flex w-12 h-12 rounded-full justify-center bg-blue-900 mx-auto mb-4 items-center; 
}
.tw-186 { 
	@apply bottom-5 left-0 right-0 hover:underline text-sm font-medium items-center absolute justify-center text-blue-400 flex; 
}
.tw-153 { 
	@apply rounded-full text-gray-300 bg-gray-700 items-center justify-center flex transition-colors hover:bg-red-500 w-12 h-12; 
}
.tw-173 { 
	@apply shadow-md overflow-hidden transition-all p-6 rounded-lg hover:shadow-lg duration-300 hover:-translate-y-1 transform bg-gray-800; 
}
.tw-191 { 
	@apply text-white text-xs px-2 py-1 rounded-tl-md absolute right-0 bg-blue-500 bottom-0; 
}
.tw-36 { 
	@apply text-gray-400 text-xs; 
}
.tw-101 { 
	@apply absolute bg-pink-600 z-0 -left-4 rounded-full -top-4 w-16 h-16; 
}
.tw-115 { 
	@apply p-6; 
}
.tw-143 { 
	@apply text-center max-w-2xl mx-auto; 
}
.tw-180 { 
	@apply hover:underline line-clamp-2 text-xl font-semibold text-white mb-3; 
}
.tw-204 { 
	@apply container px-4 py-8 mx-auto max-w-3xl; 
}
.tw-29 { 
	@apply opacity-75; 
}
.tw-184 { 
	@apply font-medium text-blue-200 flex rounded-full transition-colors items-center justify-between hover:underline bg-blue-900 h-8 w-full px-3 text-sm hover:bg-blue-800 flex-row py-1; 
}
.tw-202 { 
	@apply items-center justify-center rounded-full flex h-8 bg-gray-700 w-8; 
}
.tw-240 { 
	@apply sm:text-base border-b-2 font-medium px-1 text-sm border-blue-500 text-blue-500 py-4; 
}
.tw-42 { 
	@apply inset-0 z-50 pb-4 pt-16 bg-gray-900 px-4 md:hidden fixed; 
}
.tw-99 { 
	@apply w-24 z-0 absolute -bottom-4 -right-4 h-24 rounded-full bg-purple-600; 
}
.tw-121 { 
	@apply mb-4 flex flex-wrap gap-2; 
}
.tw-175 { 
	@apply transition ease-out duration-200; 
}
.tw-80 { 
	@apply flex-col lg:flex-row items-center justify-between flex; 
}
.tw-16 { 
	@apply rounded-md text-gray-300 hover:text-white hover:bg-gray-700 transition-colors p-2; 
}
.tw-177 { 
	@apply opacity-100 transform translate-y-0; 
}
.tw-20 { 
	@apply border-b p-3 border-gray-700; 
}
.tw-215 { 
	@apply my-6 max-w-none text-gray-300 leading-relaxed; 
}
.tw-40 { 
	@apply hover:underline block text-center text-sm text-blue-400; 
}
.tw-58 { 
	@apply text-lg; 
}
.tw-96 { 
	@apply relative mx-auto rounded-full bg-blue-600 shadow-lg; 
}
.tw-126 { 
	@apply w-full h-full object-cover; 
}
.tw-22 { 
	@apply focus:outline-none focus:ring-blue-500 bg-gray-700 w-full focus:ring-2 border-gray-600 rounded-md pl-10 pr-4 py-2 border text-white; 
}
.tw-236 { 
	@apply text-gray-300 max-w-2xl mx-auto text-xl; 
}
.tw-72 { 
	@apply hover:bg-blue-600 transition-colors block w-full text-center bg-blue-500 text-white rounded-lg py-3 px-4 font-medium; 
}
.tw-155 { 
	@apply p-8 rounded-lg bg-gray-800 shadow-md; 
}
.tw-188 { 
	@apply bg-red-500 text-gray-200 bottom-0 text-xs px-2 py-1 rounded-tr-md absolute left-0; 
}
.tw-205 { 
	@apply container px-4 py-8 mx-auto max-w-3xl; 
}
.tw-21 { 
	@apply focus:outline-none focus:ring-blue-500 bg-gray-700 w-full focus:ring-2 border-gray-600 rounded-md pl-10 pr-4 py-2 border text-white; 
}
.tw-233 { 
	@apply text-center mb-12; 
}
.tw-38 { 
	@apply py-3 border-t border-gray-700 px-4; 
}
.tw-66 { 
	@apply flex-shrink-0 bg-blue-900 justify-center w-10 flex rounded-full items-center text-blue-300 mr-4 h-10; 
}
.tw-84 { 
	@apply text-xl text-gray-300 mb-8 max-w-md; 
}
.tw-91 { 
	@apply lg:w-1/2 relative; 
}
.tw-106 { 
	@apply md:mb-0 text-3xl font-bold text-white mb-4; 
}
.tw-156 { 
	@apply p-8 rounded-lg bg-gray-800 shadow-md; 
}
.tw-34 { 
	@apply text-sm font-medium text-white; 
}
.tw-57 { 
	@apply mx-auto mb-4 text-gray-600 h-16 w-16; 
}
.tw-12 { 
	@apply text-gray-300 hover:text-white cursor-pointer; 
}
.tw-149 { 
	@apply bg-gray-700 flex items-center justify-center text-gray-300 rounded-full transition-colors hover:bg-blue-400 w-12 h-12; 
}
.tw-192 { 
	@apply shadow-md p-6 flex-col overflow-hidden hover:shadow-lg duration-300 bg-gray-800 transform transition-all h-full hover:-translate-y-3 flex rounded-lg; 
}
.tw-193 { 
	@apply shadow-md p-6 flex-col overflow-hidden hover:shadow-lg duration-300 bg-gray-800 transform transition-all h-full hover:-translate-y-3 flex rounded-lg; 
}
.tw-194 { 
	@apply cursor-pointer h-full; 
}
.tw-227 { 
	@apply text-gray-300 leading-relaxed whitespace-pre-line; 
}
.tw-75 { 
	@apply font-medium hover:text-white hover:bg-gray-700 block pl-3 pr-4 text-gray-300 py-2 text-base; 
}
.tw-85 { 
	@apply hover:underline; 
}
.tw-122 { 
	@apply bg-blue-900 py-1 transition-colors inline-block px-3 font-medium rounded-full text-sm hover:bg-blue-800 text-blue-200; 
}
.tw-14 { 
	@apply hidden md:flex items-center; 
}
.tw-147 { 
	@apply gap-4 mb-8 flex flex-wrap justify-center; 
}
.tw-44 { 
	@apply text-gray-300 hover:text-white absolute top-4 right-4; 
}
.tw-61 { 
	@apply text-gray-400 uppercase tracking-wider mb-3 text-sm font-semibold; 
}
.tw-162 { 
	@apply py-3 focus:ring-blue-500 focus:ring-offset-2 transition-colors px-6 w-full text-white hover:bg-blue-700 focus:outline-none focus:ring-2 font-medium bg-blue-600 rounded-md; 
}
.tw-234 { 
	@apply inline-block p-4; 
}
.tw-39 { 
	@apply hover:underline block text-center text-sm text-blue-400; 
}
.tw-82 { 
	@apply font-bold lg:text-6xl mb-4 text-white text-4xl leading-tight md:text-5xl; 
}
.tw-93 { 
	@apply w-64 shadow-lg mx-auto md:w-80 md:h-80 h-64 bg-blue-600 relative rounded-full; 
}
.tw-0 { 
	@apply bg-gray-900; 
}
.tw-10 { 
	@apply text-white cursor-pointer pr-4 text-xl font-bold; 
}
.tw-48 { 
	@apply relative mb-4; 
}
.tw-9 { 
	@apply text-white cursor-pointer pr-4 text-xl font-bold; 
}
.tw-163 { 
	@apply py-3 focus:ring-blue-500 focus:ring-offset-2 transition-colors px-6 w-full text-white hover:bg-blue-700 focus:outline-none focus:ring-2 font-medium bg-blue-600 rounded-md; 
}
.tw-195 { 
	@apply w-full h-48 object-cover; 
}
.tw-230 { 
	@apply mb-4 text-2xl font-semibold text-white; 
}
.tw-252 { 
	@apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4; 
}
.tw-35 { 
	@apply text-gray-400 text-xs; 
}
.tw-114 { 
	@apply h-12 w-12 text-gray-500; 
}
.tw-123 { 
	@apply bg-blue-900 py-1 transition-colors inline-block px-3 font-medium rounded-full text-sm hover:bg-blue-800 text-blue-200; 
}
.tw-128 { 
	@apply grid grid-cols-1 lg:grid-cols-2 gap-8; 
}
.tw-219 { 
	@apply py-1 text-sm px-3 rounded-full transition-colors inline-block font-medium text-blue-200 hover:bg-blue-800 bg-blue-900; 
}
.tw-239 { 
	@apply flex space-x-8; 
}
.tw-83 { 
	@apply font-bold lg:text-6xl mb-4 text-white text-4xl leading-tight md:text-5xl; 
}
.tw-111 { 
	@apply cursor-pointer block; 
}
.tw-249 { 
	@apply py-4 border-b-2 px-1 font-medium text-sm sm:text-base; 
}
.tw-88 { 
	@apply rounded-md font-medium px-6 bg-white hover:opacity-90 transition-opacity py-3 text-gray-900; 
}
.tw-165 { 
	@apply mx-auto py-8 container px-4; 
}
.tw-41 { 
	@apply md:hidden text-gray-300 hover:text-white focus:outline-none; 
}
.tw-59 { 
	@apply mt-2; 
}
.tw-95 { 
	@apply text-xl absolute flex text-white items-center justify-center font-bold inset-0; 
}
.tw-100 { 
	@apply absolute bg-pink-600 z-0 -left-4 rounded-full -top-4 w-16 h-16; 
}
.tw-220 { 
	@apply py-1 text-sm px-3 rounded-full transition-colors inline-block font-medium text-blue-200 hover:bg-blue-800 bg-blue-900; 
}
.tw-127 { 
	@apply py-16 bg-gray-900; 
}
.tw-232 { 
	@apply container px-4 py-8 max-w-5xl mx-auto; 
}
.tw-53 { 
	@apply py-8 text-center text-gray-400; 
}
.tw-107 { 
	@apply text-blue-400 hover:underline text-lg font-medium flex items-center; 
}
.tw-208 { 
	@apply flex items-center text-gray-400 mb-6; 
}
.tw-231 { 
	@apply container px-4 py-8 max-w-5xl mx-auto; 
}
.tw-27 { 
	@apply animate-spin h-5 w-5 mx-auto; 
}
.tw-113 { 
	@apply h-48 bg-gray-700 flex items-center justify-center overflow-hidden; 
}
.tw-185 { 
	@apply font-medium text-blue-200 flex rounded-full transition-colors items-center justify-between hover:underline bg-blue-900 h-8 w-full px-3 text-sm hover:bg-blue-800 flex-row py-1; 
}
.tw-3 { 
	@apply mx-auto sm:px-6 lg:px-8 container px-4; 
}
.tw-142 { 
	@apply text-center max-w-2xl mx-auto; 
}
.tw-151 { 
	@apply flex justify-center text-gray-300 transition-colors items-center hover:bg-gray-800 w-12 h-12 rounded-full bg-gray-700; 
}
.tw-169 { 
	@apply htmx-indicator top-2.5 text-blue-500 absolute right-3; 
}
.tw-201 { 
	@apply text-xl font-semibold text-white; 
}
.tw-244 { 
	@apply text-gray-400 hover:text-gray-300 border-transparent; 
}
.tw-74 { 
	@apply sm:hidden pt-2 pb-4 space-y-1; 
}
.tw-110 { 
	@apply overflow-hidden transition-transform bg-gray-900 rounded-lg duration-300 hover:scale-105 shadow-md hover:shadow-lg; 
}
.tw-178 { 
	@apply object-center w-full h-48 object-cover; 
}
.tw-170 { 
	@apply animate-spin h-5 w-5; 
}
.tw-211 { 
	@apply mb-8 flex flex-wrap gap-2; 
}
.tw-223 { 
	@apply font-semibold text-white text-2xl; 
}
.tw-238 { 
	@apply mb-6 border-b border-gray-700; 
}
.tw-136 { 
	@apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8; 
}
.tw-183 { 
	@apply mb-4 grid-cols-2 grid flex-wrap gap-2; 
}
.tw-241 { 
	@apply sm:text-base border-b-2 font-medium px-1 text-sm border-blue-500 text-blue-500 py-4; 
}
.tw-5 { 
	@apply justify-between h-16 flex items-center; 
}
.tw-54 { 
	@apply h-8 w-8 mx-auto mb-2 animate-spin; 
}

/* twerge:end */
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(---accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --container-2xl: 1400px;
}

:root {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --ring: hsl(240 4.9% 83.9%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --ring: hsl(240 4.9% 83.9%);
  --radius: 0.5rem;
}
