package layouts

import (
	"fmt"
	"github.com/conneroisu/conneroh.com/internal/routing"
	"github.com/conneroisu/twerge"
)

templ Page(comp templ.Component) {
	@Layout("Page") {
		@comp
	}
}

templ Morpher(comp templ.Component) {
	<div id="bodiody">
		@comp
	</div>
}

templ Lister(
	target routing.PluralTarget,
	comp templ.Component,
) {
	<div
		id={ fmt.Sprintf("list-%s", target) }
		class={ twerge.It("md:grid-cols-2 lg:grid-cols-3 gap-6 grid grid-cols-1") }
	>
		@comp
	</div>
}
